
<h1>List of Users</h1>
<button (click)="loadData()" [hidden]="IsLoading">
  load data

    </button>
    <button [hidden]="!IsLoading" (click)="getUserList()">Refresh Data</button>
<div *ngIf="IsLoading" class="row">
    <div class="col-12">
<table>
    <thead>

      
            <th>
                FirstName
            </th>
            <th>
                MiddleName
            </th>
            <th>
                LastName
            </th>

            <th>
                EmailId
            </th>
            <th>
                phoneNumber
            </th>
            <th>
                role
            </th>
            <th>
                address
            </th>
            <th>
                createdOn
            </th>
            <th>
                modifiedOn
            </th>

             
</thead>
<tbody>
    <tr *ngFor ="let user of userList">
        <td>
            <div *ngIf="!user.isEdit">
                {{user.firstName}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.firstName" class="form-control"/>
             
            </div>
            
        </td>
        <td>
            <div *ngIf="!user.isEdit">
                {{user.middleName}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.middleName" class="form-control"/>
            </div>
           
        </td>
        <td>
           <div *ngIf="!user.isEdit">
            {{user.lastName}}
           </div>
           <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.lastName" class="form-control"/>
        </div>
            
        </td>

        <td>
            <div *ngIf="!user.isEdit">
                {{user.email}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.email" class="form-control"/>
            </div>

        </td>
        <td>
            <div *ngIf="!user.isEdit">
                
                {{user.phoneNumber}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.phoneNumber" class="form-control"/>
            </div>

          
        </td> 
        <td>
            <div *ngIf="!user.isEdit">
                {{user.role}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.role" class="form-control"/>
            </div>
          
        </td> 
        <td>
            <div *ngIf="!user.isEdit">
                {{user.address}}
            </div>
            <div *ngIf="user.isEdit">
                
                <input type="text" [(ngModel)]="user.address" class="form-control"/>
            </div>
        </td> 
        <td>
            {{user.createdOn}}
        </td>
        <td>
            {{user.modifiedOn}}
        </td>
        <td>
            <div *ngIf="!user.isEdit">
                <button (click)="onEdit(user)">Edit</button>
            </div>
            <div *ngIf="user.isEdit">
                <button (click)="onSave(user)">Save</button>
            </div>

            
        </td>       
        <td>
            <div *ngIf="!user.isEdit">
            <button (click)="deleteUser(user.userId)">Delete</button>
        </div>
        <div *ngIf="user.isEdit">
            <button (click)="onCancel(user)">Cancel</button>
        </div>
           
        </td>
       
    </tr>
    <div *ngIf="!createItem">
        <button (click)="saveNewEntery()">Create</button>
    </div>
     <!--<div *ngIf="createItem">
        <tr>
            <td>

                <div *ngIf="createItem">
                    <input type="text" [(ngModel)]="firstName" class="form-control"/>
                 
                </div>
                
            </td>
            <td>

                <div *ngIf="createItem">
                    <input type="text" [(ngModel)]="middleName" class="form-control"/>
                </div>
               
            </td>
            <td>
    
               <div *ngIf="createItem">
                <input type="text" [(ngModel)]="lastName" class="form-control"/>
            </div>
                
            </td>
    
            <td>
          
                <div *ngIf="createItem">
                    <input type="text" [(ngModel)]="email" class="form-control"/>
                </div>
    
            </td>
            <td>
          
                <div *ngIf="createItem">
                    <input type="text" [(ngModel)]="phoneNumber" class="form-control"/>
                </div>
    
              
            </td> 
            <td>
           
                <div *ngIf="createItem">
                    <input type="text" [(ngModel)]="role" class="form-control"/>
                </div>
              
            </td> 
            <td>
               
                <div *ngIf="createItem">
                    
                    <input type="text" [(ngModel)]="address" class="form-control"/>
                </div>
            </td> 
            <td>
                createdOn
            </td>
            <td>
                modifiedOn
            </td>
            <td>
                
                <div *ngIf="createItem">
                    <button (click)="disableCreateItem">Save</button>
                </div>
    
                
            </td>       
            <td>
         
            <div *ngIf="createItem">
                <button (click)="onCancel(user)">Cancel</button>
            </div>
               
            </td>
           
        </tr>
        <button (click)="saveNewEntery()">Create</button>
    </div> -->
</tbody>
 
</table>
</div>
</div>