
<h1>List of Users</h1>
<button (click)="loadData()" [hidden]="IsLoading">
  load data

    </button>
    <button [hidden]="!IsLoading" (click)="getUserList()">Refresh Data</button>
<div *ngIf="IsLoading" class="row">
    <div class="col-12">
<table>
    <thead>

      
            <th>
                FirstName
            </th>
            <th>
                MiddleName
            </th>
            <th>
                LastName
            </th>

            <th>
                EmailId
            </th>
            <th>
                phoneNumber
            </th>
            <th>
                role
            </th>
            <th>
                address
            </th>
            <th>
                createdOn
            </th>
            <th>
                modifiedOn
            </th>

             
</thead>
<tbody>
    <tr *ngFor ="let user of userList">
        <td>
            <div *ngIf="!user.isEdit">
                {{user.FirstName}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.FirstName" class="form-control"/>
             
            </div>
            
        </td>
        <td>
            <div *ngIf="!user.isEdit">
                {{user.MiddleName}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.MiddleName" class="form-control"/>
            </div>
           
        </td>
        <td>
           <div *ngIf="!user.isEdit">
            {{user.LastName}}
           </div>
           <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.LastName" class="form-control"/>
        </div>
            
        </td>

        <td>
            <div *ngIf="!user.isEdit">
                {{user.email}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.email" class="form-control"/>
            </div>

        </td>
        <td>
            <div *ngIf="!user.isEdit">
                
                {{user.phoneNumber}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.phoneNumber" class="form-control"/>
            </div>

          
        </td> 
        <td>
            <div *ngIf="!user.isEdit">
                {{user.role}}
            </div>
            <div *ngIf="user.isEdit">
                <input type="text" [(ngModel)]="user.role" class="form-control"/>
            </div>
          
        </td> 
        <td>
            <div *ngIf="!user.isEdit">
                {{user.address}}
            </div>
            <div *ngIf="user.isEdit">
                
                <input type="text" [(ngModel)]="user.address" class="form-control"/>
            </div>
        </td> 
        <td>
            {{user.createdOn}}
        </td>
        <td>
            {{user.modifiedOn}}
        </td>
        <td>
            <div *ngIf="!user.isEdit">
                <button (click)="onEdit(user)">Edit</button>
            </div>
            <div *ngIf="user.isEdit">
                <button (click)="onSave(user)">Save</button>
            </div>

            
        </td>       
        <td>
            <div *ngIf="!user.isEdit">
            <button (click)="deleteUser(user.userId)">Delete</button>
        </div>
        <div *ngIf="user.isEdit">
            <button (click)="onCancel(user)">Cancel</button>
        </div>
           
        </td>
       
    </tr>
</tbody>
 
</table>
</div>
</div>